.logo {
    font-size: 25px;
    margin-left: 60px;
    font-weight: bold;
    color: white;
}

.highlight {
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(152, 75, 32);
}

.menu {
    display: flex;
    gap: 50px;
    font-size: 16px;
    margin-left: 100px;
}

.menu a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold   ;
}

.button {
    background-color: white;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-right: 20px;
    font-size:  15px;
    border-color: white;
}




*{
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box{
    display: flex;
    flex-direction: row;
    border-width: 20px;
    border-style: solid;
    border-color: black;
    gap: 20px;
    width: 98%;
    height: 1000px;
    justify-content: space-between;
    align-items: start;
}

.intro{
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    width: 30%;
    height: 50%;
    margin: 230px 20px 20px 250px;
}

.topic{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 92%;
    height: 15%;
    margin: 70px 20px 20px 20px;
}

.topic h1{
    font-family: "Cinzel", serif;
    text-align: center;
    
}

.desc{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 92%;
    height: 50%;
    margin: 70px 20px 20px 20px;
}

.desc p{
    font-family: "Cinzel", serif;
    text-align: center;
}

.img{
    width: 640px;
    height: 650px;
    background-image: url(https://cdn.discordapp.com/attachments/1497959127832465498/1497987326289383655/gaunlet-removebg-preview_1.png?ex=69ef84e9&is=69ee3369&hm=7846f367a6582f38feb4f4c9e1609b28dd015019ca415999b072e4eed8168225);
    background-size: 100%;
    justify-content: flex-end;
    margin-top: 9%;
    margin-right: 15px;

}
body {
  background-color: rgb(0, 0, 0);
    background-image: url("background.png");
    background-size: 100%;
  padding: 0;
  margin: 0;
}

