.logo {
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
}

.highlight {
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 15px;
    font-size: 15px;
    color: black;
}

.menu a {
    color: black;
    text-decoration: none;
}

.button {
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-right: 20px;
    font-size:  15px;
}




*{
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box{
    display: flex;
    flex-direction: row;
    background-color: blue;
    border-width: 20px;
    border-style: solid;
    border-color: #DEDCFF;
    gap: 20px;
    width: 98%;
    height: 1000px;
    justify-content: space-between;
    align-items: start;
}

.intro{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 30%;
    height: 50%;
    margin: 70px 20px 20px 20px;
}

.topic{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 92%;
    height: 10%;
    margin: 70px 20px 20px 20px;
}

.topic h1{
    display: flex;
    text-align: center;
    
}

.desc{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 92%;
    height: 50%;
    margin: 70px 20px 20px 20px;
}