

* { font-family: "K2D", sans-serif; box-sizing: border-box; }
body { background-color: antiquewhite; margin: 0; padding: 0; }
.navbar { display: flex; justify-content: space-between; align-items: center; background-color: rgb(152, 75, 32); padding: 15px 50px; }
.logo { font-size: 25px; color: white; margin: 0; }
.menu { display: flex; gap: 40px; }
.menu a { color: antiquewhite; text-decoration: none; font-weight: bold; }
.button {
    background-color: white;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-right: 20px;
    font-size:  15px;
    border-color: white;
    cursor: pointer;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: burlywood;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
    transition: 0.3s;
    overflow: hidden;
}

.long-desc {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}


.card:hover {
    background-color: rgba(152, 75, 32, 0.8);
}

.card:hover .long-desc {
    display: block;
}
