


body {   margin: 0;
  padding: 0; 
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('page3.png');
  background-size: cover;
  background-size: 120%;
}
.navbar { display: flex; justify-content: space-between; align-items: center; background-color: rgb(152, 75, 32); padding: 15px 50px; }
.logo { font-size: 25px; color: white; margin: 0; }
.menu { display: flex; gap: 75px; }
.menu a { color: antiquewhite; text-decoration: none; font-weight: bold; }
.button {
    background-color: white;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-right: 20px;
    font-size:  15px;
    border-color: white;
    cursor: pointer;
}




.card-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}


.card {
    background-color: burlywood;
    padding: 15px;
    border-radius: 10px;
    transition: 0.4s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.card-img {
    width: 200px;
    height: 250px;

    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;

}


.long-desc {
    display: none;
    font-size: 14px;
    color: #333;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}


.card:hover .long-desc {
    display: block;
}



* { font-family: "K2D", sans-serif; box-sizing: border-box; }
