body { background-color: antiquewhite; margin: 0; padding: 0; }
.navbar { display: flex; justify-content: space-between; align-items: center; background-color: rgb(152, 75, 32); padding: 15px 50px; }
.logo { font-size: 25px; color: white; margin: 0; }
.menu { display: flex; gap: 75px; }
.menu a { color: antiquewhite; text-decoration: none; font-weight: bold; }
.button {
    background-color: white;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-right: 20px;
    font-size:  15px;
    border-color: white;
    cursor: pointer;
}
* { font-family: "K2D", sans-serif; box-sizing: border-box; }
.parent {
    display: flex;
}

.children {
    width: 33%;
    padding: 10px;
}

img {
    width: 100%;
}
.para1, .para3 {
    color: brown;
}